.define { white-space: pre; margin-top: 1em; margin-bottom: 1em }
.match { white-space: pre }
.info { white-space: pre; font-family: monospace }
.name { padding-right: 1em }
.list { margin-top: 1em; margin-bottom: 1em }
.message { margin-bottom: 1em }
.warning { margin: 1em }
.error { margin: 1em }
.title { %1 }
.hword { %2 }
.abrev { %3 }
.pronc { %4 }
.descr { %5 }
a { %6 }
dt.chap { margin-left: .5em }
dt.sect { margin-left: 1em }
dt { margin-bottom: .2em }
dd.defn { text-indent: -17px }
dd.para { margin-bottom: .5em }
dd { margin-bottom: .2em }
dl { margin-bottom: 1em; margin-right: .5em }
