<div class="about">
<h3>Dikt Help</h3>

<p>More like notes, but hopefully helpful.

<h4>Define and Match</h4>
There are two ways of looking up words, define and match. <b>Define</b> looks for the exact match, and <b>Match</b> looks for the matches with the selected strategy. You can select the matching strategy from the drop-down list on the toolbar. Matching strategies depend on the dictionary server, and every server has a description of available <a href="about:strategies">strategies</a>.

<h4>Search</h4>
Every server offers a different set of <a href="about:databases">databases</a>. Dictionaries databases can be selected from the list in the sidebar. There are also two special searches available on the database menu, first match and all databases. Searching for the <b>first match</b> retrieves the first match only, and searching <b>all databases</b> retrieves all available matches.

<h4>Suggestions</h4>
Dikt can retrieve suggestions when no matches are found. So when you mistype a word, it will suggest possible corrections.

<h4>Looking up selected text</h4>
When the <b>yank selections</b> option is set, Dikt will look up the text you select in your desktop applications. There are two levels of selections that can be set up separately, from within the dictionary, and from other desktop applications.

<h4>Length of selections</h4>
You can limit the length of selections that Dikt considers, so that it doesn't send over the network some long text you selected during editing. Any selection longer than <b>maximum length</b> is ignored. You can also set a <b>warning limit</b>, and Dikt will ask you to confirm that you want to look up the selection.

<p>There is also a limit for <b>minimum length</b> for selections, which is set to 2 by default, since it is easy to accidentally select one character when clicking on a link. It is still possible to select one letter words by extending the selection to include the space before or after the character.

<h4>Automatic matching</h4>
Dikt can retrieve matches with every definition, either with the selected strategy, or with the default strategy. To retrieve suggestions even when the match is found, turn on the automatic matching and set it to use the default strategy.

<h4>Database Groups</h4>
Several databases can be grouped together and accessed like a single dictionary. To keep permanent lists of databases, or to reorder databases in the list, arrange them in database groups.

<p></div>
