<div class="about">
<h3>Dikt</h3>
<b>version %1</b>

<p>Dikt is a dictionary application that implements the Dict protocol. Dikt is a network application, it looks up words on dict servers, so its main advantage is that it is not necessary to install any dictionaries. You can find information about the Dict protocol on <a href="https://dict.org/">Dict Project</a> web site.

<p>To look up a word, enter it into the query bar. By default Dikt searches <a href="dict://dict.org/">dict.org</a> dict server. New hosts can be added in Dikt settings and then accessed from the host menu. You can also switch to a different server by entering a URL in the form <b>dict://host/word</b>, where <b>host</b> is the dict server to connect to, and <b>word</b> is the word to look for.

<p>There is a searchable list of <a href="https://dikt.tv/servers">dict servers</a> on Dikt web site.

<p>Dikt is very similar to web browsers, and it should be easy to use to anyone familiar with the Web and Internet. You should be able to make basic searches right away. For an explanation of options for advanced searching see <a href="about:help">Dikt Help</a>.

<p>For the latest release and for more information see <a href="https://dikt.tv/">Dikt web site</a>.

<p></div>
